datasets
sentence-transformers 
chromadb 
pypdf
flask
torch
transformers
accelerate
pdf2image
pytesseract
pillow
opencv-python
numpy
pandas
scikit-learn
scikit-image
llama-cpp-python
pdfplumber