# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
env/

# Database
*.db

# VSCode
.vscode/

# Logs
*.log

# Ignorar modelos grandes
models/*.gguf

# Ignorar directorio de Python
Python-3.12.3/

# Ignorar archivos comprimidos
*.zip
