fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
httpx
pydantic
scikit-learn
numpy
stripe
langchain
pydantic[email]
python-multipart
pandas
agency_swarm
chromadb
pymupdf
sentence_transformers
fitz
Pandas
Flask
tensorflow[and-cuda]
scikit-learn
matplotlib
agency-swarm 
pysqlite3-binary
